In [1]:
#importando as bibliotecas
import pandas as pd #biblioteca utilizada para o tratamento de dados via dataframes 
import numpy as np #biblioteca utilizada para o tratamento de valores numéricos (vetores e matrizes)
import matplotlib.pyplot as plt #biblioteca utilizada para construir os gráficos

In [2]:
from google.colab import files  #biblioteca utilizada para carregar os dados para o google colab
uploaded = files.upload()

In [4]:
url_file="https://pycourse.s3.amazonaws.com/bike-sharing.csv"
df= pd.read_csv(url_file)

In [5]:
df.head()

     datetime  rec_id  season  year  ...  windspeed  casual  registered  total_count
0  2011-01-01       1       1     0  ...        0.0       3          13           16
1  2011-01-01       2       1     0  ...        0.0       8          32           40
2  2011-01-01       3       1     0  ...        0.0       5          27           32
3  2011-01-01       4       1     0  ...        0.0       3          10           13
4  2011-01-01       5       1     0  ...        0.0       0           1            1

[5 rows x 17 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  object
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

**Existem Colunas Com Valores Nulos?**

In [7]:
df.shape

(17379, 17)

**Quantas Instâncias e Características Existem no Dataset?**

In [8]:
#analisando a "estatística" do dataset
df.describe()

           rec_id        season  ...    registered   total_count
count  17379.0000  17379.000000  ...  17379.000000  17379.000000
mean    8690.0000      2.501640  ...    153.786869    189.463088
std     5017.0295      1.106918  ...    151.357286    181.387599
min        1.0000      1.000000  ...      0.000000      1.000000
25%     4345.5000      2.000000  ...     34.000000     40.000000
50%     8690.0000      3.000000  ...    115.000000    142.000000
75%    13034.5000      3.000000  ...    220.000000    281.000000
max    17379.0000      4.000000  ...    886.000000    977.000000

[8 rows x 16 columns]

In [23]:
df['my_year'] = pd.DatetimeIndex(df['datetime']).year

In [24]:
df[df.my_year == 2011].shape

(8645, 18)

In [25]:
df[df.my_year == 2012].shape

(8734, 18)

In [26]:
df[df.my_year == 2011]["total_count"].sum()

1243103

In [27]:
df[df.my_year == 2012]["total_count"].sum()

2049576

In [33]:
df.groupby(['season'])['total_count'].sum().nlargest(4)

season
3    1061129
2     918589
4     841613
1     471348
Name: total_count, dtype: int64

In [34]:
df.groupby(['hour'])['total_count'].mean().nlargest(3)

hour
17    461.452055
18    425.510989
8     359.011004
Name: total_count, dtype: float64

In [35]:
df.groupby(['hour'])['total_count'].mean().nsmallest(3)

hour
4     6.352941
3    11.727403
5    19.889819
Name: total_count, dtype: float64

In [36]:
df.groupby(['weekday'])['total_count'].mean().nlargest(7)

weekday
4    196.436665
5    196.135907
2    191.238891
3    191.130505
6    190.209793
1    183.744655
0    177.468825
Name: total_count, dtype: float64

In [37]:
df[df.weekday == 3].groupby(['hour'])['total_count'].mean().nlargest(3)

hour
17    513.144231
18    494.029126
8     488.326923
Name: total_count, dtype: float64

In [38]:
df[df.weekday == 6].groupby(['hour'])['total_count'].mean().nlargest(3)

hour
13    385.371429
15    382.428571
14    381.333333
Name: total_count, dtype: float64

********************************************