# Series

In [9]:
import numpy as np
import pandas as pd

In [10]:
indexes = ["julio","julia","rafael"]

In [11]:
values = range(3)

In [22]:
dicts = {x:v for i,x  in enumerate(indexes)
             for v in values
        if v == values[i]}
dicts

{'julia': 1, 'julio': 0, 'rafael': 2}

### build series ar similiar to dicts, the have index that can be seted

In [14]:
series = pd.Series(data=values, index=indexes)
series

julio     0
julia     1
rafael    2
dtype: int32

In [15]:
series = pd.Series(values, indexes)
series

julio     0
julia     1
rafael    2
dtype: int32

In [16]:
series_idx_default = pd.Series(values)
series_idx_default

0    0
1    1
2    2
dtype: int32

In [17]:
np_arr = np.array(values)
np_arr

array([0, 1, 2])

In [18]:
series_from_np_array = pd.Series(np_arr)
series_from_np_array

0    0
1    1
2    2
dtype: int32

In [23]:
series_from_dict = pd.Series(dicts)
series_from_dict

julia     1
julio     0
rafael    2
dtype: int64

### series can hold functions

In [27]:
def my_power (x,y): 
    return x**y

pd.Series(data=[sum, print, len, my_power])

0                      <built-in function sum>
1                    <built-in function print>
2                      <built-in function len>
3    <function my_power at 0x000001FAF31620D0>
dtype: object

# DataFrames

In [31]:
from numpy.random import randn
np.random.seed(101)

In [32]:
df = pd.DataFrame(randn(5,4), ['A','B', 'C','D', 'E'], ['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
col_w = df['W']
col_w

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [35]:
type(col_w)

pandas.core.series.Series

In [36]:
type(df)

pandas.core.frame.DataFrame

In [37]:
df.Z # dot notation to access columns

A    0.503826
B    0.605965
C   -0.589001
D    0.955057
E    0.683509
Name: Z, dtype: float64

In [38]:
df['Z'] # same as defore

A    0.503826
B    0.605965
C   -0.589001
D    0.955057
E    0.683509
Name: Z, dtype: float64

In [39]:
df[['W','Z']] #multiple columns

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [40]:
df['Θ'] = df['W'] + df['Y'] #creating new column .. in this case a simple sum of W and Y
df

          W         X         Y         Z         Θ
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [41]:
df['β'] = df['Θ'] * df['Z'] #creating new column .. in this case a simple sum of W and Y
df

          W         X         Y         Z         Θ         β
A  2.706850  0.628133  0.907969  0.503826  3.614819  1.821239
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959 -0.119350
C -2.018168  0.740122  0.528813 -0.589001 -1.489355  0.877231
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542 -0.711080
E  0.190794  1.978757  2.605967  0.683509  2.796762  1.911611

In [42]:
df.drop('β', axis=1) # droping column

          W         X         Y         Z         Θ
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [43]:
# was not assingned
df

          W         X         Y         Z         Θ         β
A  2.706850  0.628133  0.907969  0.503826  3.614819  1.821239
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959 -0.119350
C -2.018168  0.740122  0.528813 -0.589001 -1.489355  0.877231
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542 -0.711080
E  0.190794  1.978757  2.605967  0.683509  2.796762  1.911611

In [44]:
df.drop('β', axis=1, inplace=True) # droping column putting value inplace
df

          W         X         Y         Z         Θ
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [45]:
df.drop('D', axis=0) #dropping line

          W         X         Y         Z         Θ
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [46]:
df.shape

(5, 5)

### selecting rows

In [47]:
df.loc['B'] # as columns lines are series

W    0.651118
X   -0.319318
Y   -0.848077
Z    0.605965
Θ   -0.196959
Name: B, dtype: float64

In [48]:
df.iloc[1] #by numerical index

W    0.651118
X   -0.319318
Y   -0.848077
Z    0.605965
Θ   -0.196959
Name: B, dtype: float64

In [49]:
df.loc['A','Z'] #value in line A and Column Z

0.50382575382239358

In [50]:
df.loc[['A','C','E']] #subset of lines

          W         X         Y         Z         Θ
A  2.706850  0.628133  0.907969  0.503826  3.614819
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [51]:
df.loc[['A','C','E'],['W','Θ']] #subset of lines and columns

          W         Θ
A  2.706850  3.614819
C -2.018168 -1.489355
E  0.190794  2.796762

## DataFrame conditional selection

In [53]:
bolldf = df > 0
bolldf

       W      X      Y      Z      Θ
A   True   True   True   True   True
B   True  False  False   True  False
C  False   True   True  False  False
D   True  False  False   True  False
E   True   True   True   True   True

In [54]:
df[bolldf]

          W         X         Y         Z         Θ
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118       NaN       NaN  0.605965       NaN
C       NaN  0.740122  0.528813       NaN       NaN
D  0.188695       NaN       NaN  0.955057       NaN
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [55]:
df[df > 0]

          W         X         Y         Z         Θ
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118       NaN       NaN  0.605965       NaN
C       NaN  0.740122  0.528813       NaN       NaN
D  0.188695       NaN       NaN  0.955057       NaN
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [58]:
df[df['W']>0] #only the lines without values < 1 in column W

          W         X         Y         Z         Θ
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [59]:
df[df['Z']<0]

          W         X         Y         Z         Θ
C -2.018168  0.740122  0.528813 -0.589001 -1.489355

In [60]:
df[(df['W']>0) & (df['Y']>1)]# for multiple conditions do not use 'and' insted use &

          W         X         Y         Z         Θ
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [61]:
df[(df['W']>0) | (df['Y']>1)]

          W         X         Y         Z         Θ
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

## DataFrames Index

In [62]:
df.reset_index() # nothing passed the original index turns into a column

  index         W         X         Y         Z         Θ
0     A  2.706850  0.628133  0.907969  0.503826  3.614819
1     B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
2     C -2.018168  0.740122  0.528813 -0.589001 -1.489355
3     D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
4     E  0.190794  1.978757  2.605967  0.683509  2.796762

In [63]:
df.reset_index(drop=True) #now the column index is gone

          W         X         Y         Z         Θ
0  2.706850  0.628133  0.907969  0.503826  3.614819
1  0.651118 -0.319318 -0.848077  0.605965 -0.196959
2 -2.018168  0.740122  0.528813 -0.589001 -1.489355
3  0.188695 -0.758872 -0.933237  0.955057 -0.744542
4  0.190794  1.978757  2.605967  0.683509  2.796762

In [67]:
new_indexes = "AA BB CC DD EE".split()
new_indexes

['AA', 'BB', 'CC', 'DD', 'EE']

In [68]:
df['2X'] = new_indexes
df

          W         X         Y         Z         Θ  2X
A  2.706850  0.628133  0.907969  0.503826  3.614819  AA
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959  BB
C -2.018168  0.740122  0.528813 -0.589001 -1.489355  CC
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542  DD
E  0.190794  1.978757  2.605967  0.683509  2.796762  EE

In [73]:
df.set_index('2X')

           W         X         Y         Z         Θ
2X
AA  2.706850  0.628133  0.907969  0.503826  3.614819
BB  0.651118 -0.319318 -0.848077  0.605965 -0.196959
CC -2.018168  0.740122  0.528813 -0.589001 -1.489355
DD  0.188695 -0.758872 -0.933237  0.955057 -0.744542
EE  0.190794  1.978757  2.605967  0.683509  2.796762

In [85]:
df.reset_index(drop=True).set_index('2X').rename_axis('')

           W         X         Y         Z         Θ

AA  2.706850  0.628133  0.907969  0.503826  3.614819
BB  0.651118 -0.319318 -0.848077  0.605965 -0.196959
CC -2.018168  0.740122  0.528813 -0.589001 -1.489355
DD  0.188695 -0.758872 -0.933237  0.955057 -0.744542
EE  0.190794  1.978757  2.605967  0.683509  2.796762

# Multilevel index in DataFrames

In [112]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3]
hier_index = list(zip(outside,inside + inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [113]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [114]:
inside

[1, 2, 3]

In [115]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3)]

In [116]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [117]:
columns = ['A','B']
df = pd.DataFrame(randn(6,2), hier_index,columns)
df

             A         B
G1 1 -0.925874  1.862864
   2 -1.133817  0.610478
   3  0.386030  2.084019
G2 1 -0.376519  0.230336
   2  0.681209  1.035125
   3 -0.031160  1.939932

In [118]:
df.loc['G1']

          A         B
1 -0.925874  1.862864
2 -1.133817  0.610478
3  0.386030  2.084019

In [119]:
df.loc['G1'].loc[1]

A   -0.925874
B    1.862864
Name: 1, dtype: float64

In [120]:
df.index.names

FrozenList([None, None])

In [121]:
df.index.names = ['Groups','Nums']
df

                    A         B
Groups Nums
G1     1    -0.925874  1.862864
       2    -1.133817  0.610478
       3     0.386030  2.084019
G2     1    -0.376519  0.230336
       2     0.681209  1.035125
       3    -0.031160  1.939932

In [122]:
df.loc['G2'].loc[2]['B']

1.0351250747739213

In [126]:
for o in set(outside):
    for i in inside:
        for c in columns:
            value = df.loc[o].loc[i][c]
            print('index: ',o,i,' column: ',c,' the value is: ', value)

index:  G1 1  column:  A  the value is:  -0.92587425881
index:  G1 1  column:  B  the value is:  1.86286413849
index:  G1 2  column:  A  the value is:  -1.13381716158
index:  G1 2  column:  B  the value is:  0.610477907538
index:  G1 3  column:  A  the value is:  0.386030312114
index:  G1 3  column:  B  the value is:  2.08401853034
index:  G2 1  column:  A  the value is:  -0.376518675249
index:  G2 1  column:  B  the value is:  0.230336343592
index:  G2 2  column:  A  the value is:  0.681209292587
index:  G2 2  column:  B  the value is:  1.03512507477
index:  G2 3  column:  A  the value is:  -0.0311604814931
index:  G2 3  column:  B  the value is:  1.93993231099

In [127]:
df.xs('G1')

             A         B
Nums
1    -0.925874  1.862864
2    -1.133817  0.610478
3     0.386030  2.084019

In [129]:
df.xs(1,level='Nums')

               A         B
Groups
G1     -0.925874  1.862864
G2     -0.376519  0.230336

In [136]:
for o in set(outside):
    value = df.xs(o)
    print(value)
    for i in inside:
            value = df.xs(i,level='Nums')
            print(value)

             A         B
Nums
1    -0.925874  1.862864
2    -1.133817  0.610478
3     0.386030  2.084019
               A         B
Groups
G1     -0.925874  1.862864
G2     -0.376519  0.230336
               A         B
Groups
G1     -1.133817  0.610478
G2      0.681209  1.035125
              A         B
Groups
G1      0.38603  2.084019
G2     -0.03116  1.939932
             A         B
Nums
1    -0.376519  0.230336
2     0.681209  1.035125
3    -0.031160  1.939932
               A         B
Groups
G1     -0.925874  1.862864
G2     -0.376519  0.230336
               A         B
Groups
G1     -1.133817  0.610478
G2      0.681209  1.035125
              A         B
Groups
G1      0.38603  2.084019
G2     -0.03116  1.939932